@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Ubuntu:wght@300&display=swap');


body {
    margin: 0px;
    font-family: 'Roboto', 'sans-serif';
    box-sizing: border-box;
    background-image: url(./images/planet-orbit-outer-space-cosmos-4096x3112-8768.jpg);
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    z-index: 100;
    top: 0;
}
nav {
    position: relative;
}

.nav {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 22px;
    align-items: center;
    margin-right: 15px;
    color: #03e9f4;
}

@keyframes animate2{
    0%{
        left: -0%;
    }
    50%,100%{
        left: 0%;
    }
}

input {
    width: 65px;
    height: 30px;
    border-radius: 8px;
    margin-top: 5px;
    background-color: #03e9f4;
    opacity: 20%;
    border: none;
    font-size: 20px;
    font-family: 'Roboto', 'sans-serif';
    outline: none;
}

input:hover{
    width: 500px;
    transition: 1s;
    opacity: 100%;
    box-shadow:
      0 0 7px #ffffff,
      0 0 10px #ffffff,
      0 0 10px #ffffff,
      0 0 20px #03e9f4,
      0 0 20px #03e9f4,
      0 0 20px #03e9f4,
      0 0 10px #03e9f4,
      0 0 10px #03e9f4;
}

.icon {
    font-size: 25px;
    margin-left: 5px;
    color: #03e9f4;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    opacity: 100%;
}

.search-bar:placeholder {
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    color: yellow;
}

.list_item {
    cursor: pointer;
    transition: 0.7s;
}

.list_item:hover {
    opacity: 0.6;
    color: #fff;
    text-shadow:
      0 0 7px #ffffff,
      0 0 10px #ffffff,
      0 0 21px #ffffff,
      0 0 42px #03e9f4,
      0 0 82px #03e9f4,
      0 0 92px #03e9f4,
      0 0 102px #03e9f4,
      0 0 151px #03e9f4;
}

.bottom-nav-line{
    position: absolute;
    bottom: 5px;
    right: -200px;
    width: 120px;
    height: 3px;
    background: linear-gradient(270deg, transparent,#03e9f4);
    animation: animate5 1.5s linear infinite;
    /* animation-delay: 0s; */
}

@keyframes animate5 {
    0%{
        right: 0%;
        
    }
    50%,100%{
        right: 43%;
    }
}

.solar-system {
    top: 0;
    position: absolute;
    z-index: 10;
    display: none;
    flex-direction: column;
    width: 100%;
    height: 150%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(./images/4k-sun-venus-pluto-uranus.jpg);
    transition: 0.5s;
    background-size: cover;
    background-position: center;
    
}

.planets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 100px;
    margin-top: 110px;
}

.info {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.info div {
    margin-top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info img {
    width: 200px;
    height: 200px;
    margin-bottom: 0px;
    
}

.title {
    color: red;
    font-size: 28px;
    margin-top: 0px;
    font-family: 'Roboto', 'sans-serif';
    letter-spacing: 2px;
    
}

.description {
    margin-top: 0px;
    font-family: 'Roboto', 'sans-serif';
    color: white;
    text-align: center;
    font-size: 14px;

}

.link-btn {
    background: none;
    color: rgb(58, 2, 225);
    border: none;
    text-decoration: underline;
    font-size: 14px;
    font-family: 'Roboto', 'sans-serif';
    cursor: pointer;
    
}
.link-btn:hover{
    opacity: 0.9;
}
/*  Buttons Style Bellow/ DO NOT CHANGE */
a{
    
    position: relative;
    display: flex;
    align-items: center;
    width: 120px;
    height: 10px;
    padding: 25px 30px;
    margin: 50px 10px;
    text-align: center;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
   
}
a:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.button{
    margin-top: 200px;
}
/* a:nth-child(1){
    filter: hue-rotate(110deg);
}
a:nth-child(2){
    filter: hue-rotate(270deg);
} */
a span{
    position: absolute;
    display: block;
}
a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 2s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 2s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 2s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}
a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 2s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}



/* This styles the aside container */
/* #aSide {
    height: 300px;
    width: 300px;
    position: absolute;
    top: calc(50% - 250px);
    z-index: 200;
    right: 7%;
} */

/* This styles the 3D object inserted in the aside container */
#aSide model-viewer {
    height: 150px;
    width: 150px;
    position: absolute;
    z-index: 200;
    top: 0;
    left: 0;
    border: none;
}